@inject Session Session
@inject IStringLocalizer<Resource> R
@inject NavigationManager NavigationManager
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">@R["HomePageTitle"]</a>
    </li>
    @if (Session.User.Id == 0)
    {
        <li class="nav-item">
            <a class="nav-link" href="login">@R["LoginPageTitle"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="registration">@R["RegistrationPageTitle"]</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/" @onclick="Logout">@R["SignOut"] @Session.User.FirstName @Session.User.LastName</a>
        </li>
    }
</ul>
@code {
    void Logout()
    {
        Session.LogOut();
        NavigationManager.NavigateTo("/", true);
    }
}
